{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/attendance.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Diphylleia&family=Tangerine&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
{% include "UI.html" %}

<div class="gradient-overlay"></div> 


    <div class="att_background">

    <div class="att_content">
        <div class="att_header">
            <p>누적 보급 신청 건수: {{ attendance_count }}건</p>
            <p class="smallw">보급 신청 시간: 〔 06시 ~ 20시 〕</p>
        </div>
        <div class="att_info">
            <h4>보급 물품</h4>
            <p>【 100 G, SP 초기화, 랜덤 아이템 】</p>
        </div>
        <form method="post" id="attendanceForm">
            {% csrf_token %}
            <button type="button" class="att_btn" id="submitAttendance">
                신청
            </button>
        </form>
    </div>    
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content supply-modal-content">
            
            <div class="supply-modal-header">
                <h5 class="supply-modal-title" id="modalContent">알림</h5>
            </div>

            <div class="modal-body text-center" style="padding: 20px;">
                
                <!-- 보상 획득 연출 박스 (보급 성공 시에만 보임) -->
                <div class="reward-box-container" id="rewardContainer">
                    <div class="reward-item-box">
                        <img src="{% static 'img/coin.png' %}" alt="아이템"  class="reward-icon">
                        <div class="reward-text">100 G</div>
                    </div>
                    <div class="reward-item-box">
                        <img src="{% static 'img/energy.png' %}" alt="아이템"  class="reward-icon">
                        <div class="reward-text">SP 초기화</div>
                    </div>
                    <div class="reward-item-box">
                        <!-- JS에서 이미지 주소를 채워넣습니다 -->
                        <img id="rewardItemImg" src="" alt="아이템">
                        <div class="reward-text" id="rewardItemName">아이템</div>
                    </div>
                </div>

                <div style="margin-top: 25px;">
                    <button type="button" class="supply-confirm-btn" data-dismiss="modal" onclick="location.reload();">확인</button>
                </div>
                
            </div>
        </div>
    </div>
</div>

<script>
(() => {
    document.getElementById('submitAttendance').addEventListener('click', function() {
        fetch("{% url 'main:supply' %}", {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}"
            }
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('modalContent').innerText = data.modal_message;
            
            const rewardContainer = document.getElementById('rewardContainer');
            
            if (data.is_success) {
                rewardContainer.style.display = 'flex';
                document.getElementById('rewardItemName').innerText = data.item_name;
                const staticPath = "{% static 'img/도트/' %}";
                document.getElementById('rewardItemImg').src = staticPath + data.item_name + ".png";
            } else {
                rewardContainer.style.display = 'none';
            }

            $('#exampleModal').modal('show');
        });
    });

    // 애니메이션
    const attBackgroundElements = document.querySelectorAll('.att_background');
    attBackgroundElements.forEach(function(element) {
        element.style.visibility = 'visible';
        element.classList.add('fadeInDown');
    });

    const bg = document.querySelector('.att_background');
    const content = document.querySelector('.att_content');
    const content2 = document.querySelector('.att_btn');
    bg.classList.add('fadeInUp');
    content.classList.add('fadeInUp');
    content2.classList.add('fadeInUp');
})();
</script>
{% endblock %}
